!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body

    .header
      グループを作成しました
    .content
      .side-content
        .side-top
          .side-top__box
            %p.side-top__box__user--name
              mac
            %ul.side-top__box__menu
              %li
              .side-top__box__menu__new--group
                %a(href="")
                  %i.fa.fa-edit
                  %spam<>
              %li
              .side-top__box__menu__new--group
                %a(href="")
                  %i.fa.fa-cog
                  %span<>
                  


        .side-bottom
          %a(href="")
            .side-group
              %p.side-group__group-name
                ppp
              %p.side-group__latest-message
                Airbnbnbnbn




      .main-content
        .main-top
          .main-top__left
            %h2.main-top__left__current-g 
              prrrr
            %ul.main-top__left__mem-list
              member
              %li.main-top__left__mem-list__mem
                wwww
          %a(href="")
            .main-top__edit-btn
              Edit
            
        .main-middle
          .main-message
            .main-message__upper-info
              %p.main-message__upper-info__talker
              %p.main-message__upper-info__date

            %p.message-text
              lgtm


        .main-bottom
          .new_message#new_message

            .input-box
            %input
          %p Why 