!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body

    .header
      グループを作成しました
    .content
      .side-content
        .side-top
          .side-top__box
            .side-top__box__user-name
              %p test-user

        .side-bottom
          %p sample-group
          %p example
      .main-content
        .main-top
          %p Tweet
        .main-middle
          %p Instagram
        .main-bottom
          %p Why 