@import "./reset";
@import "font-awesome";
@import "colors";
@import "flash";
@import "./main";
@import "user";

//リセットCSS的な物
*{
  box-sizing: border-box;
}

  .clearfix::after{
  content: "";
  display: block;
  clear: both;
  }

  a {
  text-decoration: none;
 }
  